<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderby.myapp.classes.dao.IStudentRepository">

	<select id="selectStudent" parameterType="string" resultType="com.coderby.myapp.classes.model.StudentVO">
		<![CDATA[
			select 
				student_id		as "studentId", 
				std_password	as "stdPassword", 
				class_id		as "classId", 
				is_manager		as "isManager"
			from 
				student
			where 
				student_id=#{stdId}
		]]>
	</select>
	
	<select id="getPassword" parameterType="string" resultType="string">
		<![CDATA[
			select password
			from student
			where student_id=#{stdId}
		]]>
	</select>
</mapper>